@{
    ViewData["Title"] = "Італійські рибалки";
}

<img src="https://cdn.britannica.com/82/195482-050-2373E635/Amalfi-Italy.jpg" width=100%, height=200px, style="object-fit: cover;"/>
<div class="text-center">
    <h1 class="display-4">
        Вітаємо вас на сайті бронювання рибальських місць в прекрасній Італії!
    </h1>
    <p>
        Хочете відчути справжню магію риболовлі в мальовничих куточках Європи? 
        Ви потрапили за адресою! 
        Наш сайт пропонує вам унікальну можливість забронювати ідеальне місце для риболовлі в самому серці Італії.
    </p>
</div>
